In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.preprocessing import LabelEncoder

import warnings 
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv(r"C:\Users\Priyanshul\OneDrive\Desktop\Plant diseases\Crop Recommendation Dataset\Crop_recommendation.csv")

In [4]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [6]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [7]:
df.shape

(2200, 8)

In [8]:
encoder = LabelEncoder()
df['label_en'] = encoder.fit_transform(df['label'])
labels_lis = sorted(df['label'].unique())
labels_dic = {}
df.drop('label',axis='columns',inplace=True)
for i,val in enumerate(labels_lis):
    labels_dic.update({i:val})
labels_dic

{0: 'apple',
 1: 'banana',
 2: 'blackgram',
 3: 'chickpea',
 4: 'coconut',
 5: 'coffee',
 6: 'cotton',
 7: 'grapes',
 8: 'jute',
 9: 'kidneybeans',
 10: 'lentil',
 11: 'maize',
 12: 'mango',
 13: 'mothbeans',
 14: 'mungbean',
 15: 'muskmelon',
 16: 'orange',
 17: 'papaya',
 18: 'pigeonpeas',
 19: 'pomegranate',
 20: 'rice',
 21: 'watermelon'}

In [9]:
df

        N   P   K  temperature   humidity        ph    rainfall  label_en
0      90  42  43    20.879744  82.002744  6.502985  202.935536        20
1      85  58  41    21.770462  80.319644  7.038096  226.655537        20
2      60  55  44    23.004459  82.320763  7.840207  263.964248        20
3      74  35  40    26.491096  80.158363  6.980401  242.864034        20
4      78  42  42    20.130175  81.604873  7.628473  262.717340        20
...   ...  ..  ..          ...        ...       ...         ...       ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507         5
2196   99  15  27    27.417112  56.636362  6.086922  127.924610         5
2197  118  33  30    24.131797  67.225123  6.362608  173.322839         5
2198  117  32  34    26.272418  52.127394  6.758793  127.175293         5
2199  104  18  30    23.603016  60.396475  6.779833  140.937041         5

[2200 rows x 8 columns]

In [10]:
X = df.drop('label_en',axis=1)
y = df['label_en']

In [11]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
y_train.shape

(1760,)

In [13]:
from sklearn.metrics import mean_squared_error

# Assuming y_pred and y_true are the predicted and actual values respectively
#mse = mean_squared_error(y_test, predictions )

#print("Mean Squared Error:", mse)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9931818181818182

In [15]:
X_test.shape

(440, 7)

In [16]:
x=[107,	34,	32	,26.774637,	66.413269,	6.780064,	177.774507]
#x=[90,	42,	43,	20.879744	,82.002744,	6.502985,	202.935536]
#x=[60,46,22,24.89364635,65.61418761,6.625404347999999,87.9298085]
x=np.array(x)
x=x.reshape(-1,7)

In [17]:
y_pred = clf.predict(x)

In [18]:
y_pred

array([5])

In [19]:
y_pred_scalar = int(y_pred)

# Decode the encoded prediction back to a categorical label
decoded_prediction = labels_dic[y_pred_scalar]

In [21]:
decoded_prediction

'coffee'

In [23]:
import pickle

# Assuming model is your trained model object
# Save the model to a .pkl file
with open("C:\\Users\\Priyanshul\\OneDrive\\Desktop\\Hackathon\\crop13.pkl", "wb") as f:
    pickle.dump(clf, f)